<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>controller.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>controller.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>message_push</servlet-name>
        <servlet-class>controller.message_push</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>controller.authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_users</servlet-name>
        <servlet-class>controller.register_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue</servlet-name>
        <servlet-class>controller.issue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate_requests</servlet-name>
        <servlet-class>controller.validate_requests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_book</servlet-name>
        <servlet-class>controller.return_book</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message_push</servlet-name>
        <url-pattern>/message_push</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_users</servlet-name>
        <url-pattern>/register_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue</servlet-name>
        <url-pattern>/issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate_requests</servlet-name>
        <url-pattern>/validate_requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_book</servlet-name>
        <url-pattern>/return_book</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
